.btn {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    margin: 3px;
    cursor: pointer;
    transition: 0.6s;
    width: 100%;
    color: #fff;
  }
  .default {
    color: #000;
  }
  .primary {
    background-color: #337ab7;
    border-color: #2e6da4;
  }
  
  .success {
    background-color: #4caf50;
    border-color: #4cae4c;
    &:hover {
      cursor: pointer;
      background-color: #1da224;
    }
  }
  .info {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
  
  .warning {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  
  .danger {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  
  .disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  .submit {
    background-color: #d4a351;
    border-color: #cc9736;
    width: 6%;
    display: block;
    margin: 5px auto;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover {
      background-color: #c08b2e;
      border-color: #cc9736;
    }
  }
  
  .submitAdd {
    background-color: #d4a351;
    border-color: #cc9736;
    display: block;
    padding: 5px 15px;
    border-radius: 8px;
    &:hover {
      background-color: #c08b2e;
      border-color: #cc9736;
    }
  }
  
  .btnYes {
    background-color: #2fa448;
    border-color: #2fa448;
    display: block;
    padding: 5px 18px;
    border-radius: 8px;
  }
  
  .btnNo {
    background-color: #ef1818;
    border-color: #ef1818;
    display: block;
    padding: 5px 18px;
    border-radius: 8px;
  }

  .btnLoginSubmit {
    background: #fff;
    font-size: 14px;
    margin-top: 18px;
    padding: 8px 20px;
    border-radius: 26px;
    border: 1px solid #d4d3e8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4c489d;
    box-shadow: 0px 2px 2px #5c5696;
    cursor: pointer;
    transition: .2s;
  }
  
  @media (max-width: 820px) {
    .submit {
      width: 10%;
      border-radius: 5px;
    }
  }
  @media (max-width: 425px) {
    .submit {
      width: 20%;
    }
  }
  