.headerUser {
    border-bottom: 1px solid #efefef;
    box-shadow: 0 1px 10px 0 #00000026;
    position: fixed;
    width: 86%;
    height: 66px;
    margin-left: 14%;
    background-color: #fff;
    z-index: 9;
}

.headerUser__box {
    display: grid;
    grid-template-columns: 82% 3% 15%;
    align-items: center;
}

.headerUser__btncheck {
    display: none;
}

.headerUser__logo {
    width: 8%;

    img {
        width: 100%;
        height: auto;
    }
}

.headerUser__noti {
    img {
        display: block;
        margin: 0 auto;
    }
}

.headerUser__boxUser {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 20px 0;

    &:hover .headerUser__dropdown {
        display: block;
        transition: all 0.2s linear;
    }
}

.headerUser__user {
    margin-top: -2px;

    p {
        margin-bottom: 2px;
        font-size: 12px;

        &:nth-child(1) {
            font-weight: 600;
        }
    }
}

.headerUser__dropdown {
    display: none;
    position: absolute;
    top: 85%;
    left: 16%;
    width: 150px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 8%);
    box-shadow: 0 5px 25px rgba(34, 41, 47, 0.1);
    padding: 0px 5px;
    text-align: left;
    z-index: 9;

    ul {
        padding: 0;
        margin: 10px 0px;
    }
}

.headerUser__itemMenu {
    display: flex;
    align-items: center;
    gap: 8px;
    list-style: none;
    padding: 5px;
    background: #fff;
    border-radius: 5px;
    margin: 6px 0;
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 14px;
    border-bottom: 1px solid #eee;

    &:nth-child(4) {
        border-bottom: 0px;
    }

    img {
        width: 14%;
        height: auto;
    }

    &:hover {
        background: #f4f4f4;
        color: #d8ac62;

        a {
            color: #d8ac62;
        }
    }
}

@media (max-width: 1440px) {
    .headerUser__logo {
        width: 10%;
    }

    .headerUser__box {
        grid-template-columns: 75% 5% 20%;
    }

    .headerUser__dropdown {
        left: 10%;
    }
}

@media (max-width: 1280px) {
    .headerUser__dropdown {
        width: 130px;
    }

    .headerUser__itemMenu {
        font-size: 12px;
    }
}

@media (max-width: 1024px) {
    .headerUser {
        margin-left: 0;
        width: 100%;
    }

    .headerUser__btn {
        margin-left: 135px;
    }

    .headerUser__btncheck {
        display: block;
        width: 50px;
        height: 50px;
        padding: 14px 20px;

        span {
            display: block;
            width: 25px;
            height: 10px;
            border-top: 3px solid #d4a351;
        }
    }

    .headerUser__logo {
        display: none;
    }

    .headerUser__boxUser {
        align-items: center;

        .iconUser {
            width: 11%;
            height: 4%;
        }
    }

    .headerUser__dropdown {
        left: 18%;
    }

    .headerUser__hollow {
        display: none;
    }
}

@media (max-width: 820px) {
    .headerUser__box {
        grid-template-columns: 65% 5% 30%;
        padding: 8px 0;
    }

    .headerUser__boxUser {
        padding: 5px 0;
    }

    .headerUser__noti {
        img {
            width: 65%;
        }
    }
}

@media (max-width: 480px) {
    .headerUser__box {
        grid-template-columns: 42% 8% 50%;
    }

    .headerUser__btncheck {
        padding: 16px 20px;

        span {
            height: 8px;
        }
    }

    .headerUser__noti {
        img {
            width: 100%;
        }
    }
}

@media (max-width: 425px) {
    .headerUser__dropdown {
        width: 118px;
        left: 14%;
    }

    .headerUser__itemMenu {
        font-size: 11px;
    }
}